  
body {
  background-color: #212121;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #ffffff;
}

.main-image {
  height: 50vh;
  width: 50vw;
  margin: 8vh 0;
}

.bottom-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  right: 1.5rem;
}

.bottom-container-left {
  align-self: center;
  width: 8vw;
  min-width: 100px;
  margin-right: 1.5vw;
}

.bottom-container-middle {
  border-left: 2px solid #ffffff;
  transform: rotate(15deg);
}

.bottom-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5vw;
}

.bottom-container-right a {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  width: 4vw;
  height: 4vh;
  text-decoration: none;
  cursor: pointer;
}

.bottom-container-right .second-link {
  margin-top: 2vh;
}

.bottom-container-right p {
  margin-left: 0.5vw;
  align-self: center;
}
@media(max-width:700px){
  body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  h1{
    font-size: 1.5em;
  }
  .bottom-container{
  width: 90vw;
  position: relative;
  bottom: 27vh;
  }
  .bottom-container-left{
    width: 28vw;
  }
  .bottom-container-middle{
    margin: 0 0 0 8px;
  }
  .main-image {
    width: 80vw;
    height: 80vh;
    position: relative;
    bottom: 9vh;
  }
}
